header {
    // background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16.8vw;
    a {
        position: absolute;
        left: 5.86666666667vw;
        font-size: 6vw;
    }
    img {
        width: 44vw;
    }
}

@media screen and (min-width: 860px) {
    body {
        header {
            height: 3.47222222222vw;
            a {
                font-size: 3vw;
            }
            img {
                width: 20vw;
            }
        }
    }
}
