.btn-degrade {
    background: linear-gradient($pink, $purple);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7vw;
    width: 58.133333333333333vw;
    height: 13.333333333333333vw;
    color: white;
    font-size: 4vw;
    @extend .shadow_box;
<<<<<<< HEAD
=======
    &:hover {
        // background: red;
        opacity: 0.9;
        box-shadow: 0px 1.33333333333vw 2.66666666667vw 1.5vw #dcdcdc;
    }
>>>>>>> dev
}
